    h3 {
     color: red;
    }

    ol {
        color: orange;
    }

    .alert-text {
        color: purple;
    }

    #title {
        background-color: black;
    }

    h1 {
        color: white;
        background-color: black;
    }

    .read,
    .unread {
        color: yellow;
        background-color: green;
    }

      
    .read {
       font-size: 20px;
    }

    .unread {
        font-family: bold;
    }

    .sub.preview,
    .sub.header {
        color: turquoise;
    }
